* {
    box-sizing: border-box;
}

/* Index CSS */

body {
    background-image: url("images/cardBackground.png");
    background-size: cover;
    background-repeat: repeat-y;
}

/*  Jumbotron CSS */

.topWrap {
    width: 100%;
    text-align: center;
    margin: 0;
    top: 0;
}

.topHeader {
    background: url("images/jumbotronbackground1.png"), url("images/jumbotronbackground2.png");
    background-size: cover, cover;
    background-repeat: no-repeat, repeat-x;
    background-position: bottom, bottom;
    width: 100%;
	margin-bottom: 0px;
    text-align: center;
    padding: 20px 0px 10px 0px;
}

.topHeader h1 {
	font-family: 'Luckiest Guy', cursive;
	font-size: 54pt;
	text-transform: uppercase;
    color: white;
    text-shadow: 0px 3px rgba(0, 0, 0, .7);
    margin-bottom: 0px;
}

.topHeaderImg {
    vertical-align: -60px;
    max-width: 600px;
    width: 95%;
}

.subTitle {
    color: white;
    text-align: center;
    font-size: 24pt;
    line-height: 100%;
    background-color: black;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    padding: 10px 15px 15px 15px;
    margin-bottom: 0;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .7);
}

/*  Main Game Container CSS */

.mainCardContainer {
    margin-bottom: 50px;
    padding: 0; 
}

.pageContainer {
    max-width: 1120px;
    margin: auto;
    width: 100%;
    display: flex;
}

.gameMessage {
    text-align: center;
    flex-grow: 3;
    align-content: center;
    margin: 20px;
}

.gameMessage p {
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 0px 1px rgba(0, 0, 0, .8);
    font-size: 26pt;
    line-height: 100%;
    text-transform: uppercase;
    color: #db1118;
    padding: 30px 10px 0px 10px;
    margin-bottom: 0px;
}

.gameScores {
    text-align: center;
    flex-grow: 1;
    align-content: center;
    margin: 20px;
}
.gameScores p {
    font-family: 'Oswald', sans-serif;
    font-size: 18pt;
    text-transform: uppercase;
    line-height: 100%;
    text-shadow: 0px 1px rgba(0, 0, 0, .8);
    background-image: url("images/buttonbackground.png");
    background-repeat: repeat-x;
    background-size: contain;
    border: #006eb7 8px solid;
    border-radius: 5px;
    color: white;
    padding: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .5);
}

.TopScores {
    text-align: center;
    flex-grow: 1;
    align-content: center;
    margin: 20px;
}
.TopScores p {
    font-family: 'Oswald', sans-serif;
    font-size: 18pt;
    text-transform: uppercase;
    line-height: 100%;
    text-shadow: 0px 1px rgba(0, 0, 0, .8);
    background-image: url("images/buttonbackground.png");
    background-repeat: repeat-x;
    background-size: contain;
    border: #006eb7 8px solid;
    border-radius: 5px;
    color: white;
    padding: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .5);
}