/*JUMBOTRON*/
.jumbotron {
	background-color: #db1118;
	margin-bottom: 0px;
    text-align: center;
}

.jumbotron h1 {
	font-family: 'Luckiest Guy', cursive;
	font-size: 65px;
	text-transform: uppercase;
	color: #ffffff;
}

.jumbotron p {
	font-family: 'Luckiest Guy', cursive;
	font-size: 18px;
	text-transform: uppercase;
	color: white;
}